.b-new-pass {
	min-width: 400px;
	margin-top: 40px;
	
	@media (max-width: $tablet-sm) {
		min-width: 100%;
		margin-top: 0;
		
		.remind-pass__title {
			font-size: 18px;
		}
	}
	
	&__title {
		margin-bottom: 20px;
		
		@media (max-width: $tablet-sm) {

			.remind-pass__title {
				font-size: 18px;
			}
			
		}
		
	}
	
	&-inner {
		padding: 0 45px;
		
		@media (max-width: $mobile-md-s) {
			padding: 0;
		}
		
	}
	
	.remind-pass-content-row {
		margin-bottom: 15px;
		
		&.b-new-pass__title {
			margin-bottom: 40px;
			
			@media (max-width: $tablet-sm) {
				margin-bottom: 20px;
			}
			
		}
	}
	
	.btn {
		width: 100%;
	}
}