.hidden {
  display: none;
}

*::selection {
  background: $black;
  color: $gray;
}

img {
  user-select: none;
}

html {
  overflow-x: hidden;
}

html,
body {
  scrollbar-width: thin;
  scrollbar-color: $gray14 $gray;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $gray;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray14;
  }
}

%clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

%clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.spinner {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #666;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

a {
  &:hover,
  &:focus {
    color: $red;
    outline: none !important;
    text-decoration: none;
  }
}

.w-70 {
  width: 70%;
}

.article {
  p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 147%;
    text-align: justify;
    color: #777;
    margin-bottom: 1em;
  }
}

.button-1 {
  display: inline-block;
  background: #1D2023;
  color: #fff;
  padding: 8px 10px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background .3s;

  &:hover {
    background: #3C3F42;
  }
}

.button-2 {
  display: inline-block;
  background: $red;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  transition: background .25s;

  &:hover,
  &:focus {
    background: darken($red, 5%);
    color: #fff;
  }
}

.button-small {
  @extend .button-2;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  font-size: 11px;
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
  }
}

.button-6 {
  @extend .button-2;
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.badge-1 {
  background: $red;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 8px 20px;
  text-align: center;
  clip-path: polygon(10% 0%, 100% 0, 100% 75%, 90% 100%, 0 100%, 0% 25%);
}


.button-dots {
  width: 44px;
  height: 15px;
  background: none;
  position: relative;

  &:after {
    content: '\00B7 \00B7 \00B7';
    top: 0;
    right: 0;
    position: absolute;
    color: red;
    line-height: 15px;
    font-size: 40px;
    transition: color .25s;
  }

  &:hover {
    &:after {
      color: $dark;
    }
  }
}

.js-comment-more {
  @extend .button-dots;
}

.product-reviews-row {
  .js-comment-more {
    float: right;
  }
}

.popup-success {
  text-align: center;
  padding: 80px 0 100px;
  font-size: 18px;
  display: none;

  @media (min-width: 576px) {
    font-size: 24px;
  }
}

.account-quest-form-field__textarea.has-error {
  border: 2px solid #ef1b1b !important;
}

.pig-notify {
  position: fixed;
  z-index: 9999;
  box-shadow: -2px 8px 6px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  background: $red;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
  animation: notify .3s;
  animation-fill-mode: forwards;

  @media (min-width: 576px) {
    padding: 20px 40px;
    left: auto;
    top: 20px;
    right: 20px;
    max-width: 400px;
  }

  button {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 12px;
    height: 12px;
    border: 0;
    background: transparent;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      background: #fff;
      width: 100%;
      border-radius: 2px;
      height: 2px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}


.product-modal-container {
  margin: auto;
  width: 100%;
  max-width: 500px;
}

.slider-popup {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  z-index: 9999;
  animation: scaleInModalSlider .25s;

  button.close {
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin-right: 5px;
  }

  &__title {
    color: #1d2023;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (min-width: 992px) {
      font-size: 18px;
    }
  }

  .slick-arrow {
    background: none;
    width: 80px;
    position: absolute;
    top: 10%;
    bottom: 10%;
    transition: background .25s;

    &:hover {
      @media (min-width: 1200px) {
        background: #f1f1f1;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 17px);
      width: 17px;
      height: 17px;
    }
  }

  .slick_prev {
    left: 0;

    &:after {
      left: calc(50% - 7px);
      border-bottom: 3px solid #757575;
      border-left: 3px solid #757575;
      transform: rotate(45deg);
    }
  }

  .slick_next {
    right: 0;

    &:after {
      right: calc(50% - 4px);
      border-bottom: 3px solid #757575;
      border-right: 3px solid #757575;
      transform: rotate(-45deg);
    }
  }
}

.product-modal-slider {
  margin-bottom: 15px;

  .slick-slide {
    @media (max-height: 690px) {
      max-height: 380px;
      object-fit: cover;
    }
  }
}

.product-modal-thumbs {

  .slick-slide {
    padding: 0 10px;
    cursor: pointer;
    border: 1px solid transparent;
  }

  .slick-current {
    border: 1px solid $red;
  }
}

.overflow-visible {
  overflow: visible !important;
}

.p-controll-remarks {
  .reserve-success-text {
    color: #fff;
  }
}

.p-opt-query-form {
  .reserve-success-text {
    color: $red;
    font-size: 30px;
  }
}

.b-field-dd {
  .field-required {
    left: 48px;
  }
}

.text-red {
  color: $red;
}

.text-button {
  color: red;
  cursor: pointer;
  user-select: none;
}

.checkout-cart {
  .text-button {
    align-self: center;
    margin-left: auto;
    padding-right: 10px;
  }
}

img[data-lazy] {
  opacity: 0;
}

button.close {
  padding: 0;
  border: 0;
  background-color: transparent;
  float: right;
  font-size: 1.8rem;
  line-height: 1;
  color: #45484A;
  opacity: .7;

  &:hover {
    opacity: .8;
  }
}

.popup-banner {
  position: fixed;
  right: 14px;
  bottom: 14px;
  z-index: 888;
  display: none;
  background: #fff;
  animation: notify .3s;

  @media (min-width: 576px) {
    right: 24px;
    bottom: 24px;
  }

  button.close {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 9;
    font-size: 26px !important;

    &:hover {
      color: $red;
    }
  }
}

.promo-banner {
  position: relative;
  width: 290px;
  height: 260px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  display: none;

  @media (min-width: 576px) {
    height: 300px;
    width: 400px;
  }

  .banner-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 3;
    background: $red;
    animation-name: banner-indicator;
  }

  &__title-1 {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;

    @media (min-width: 576px) {
      font-size: 22px;
    }
  }

  &__title-2 {
    font-size: 13px;
    line-height: 1.4;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    @media (min-width: 576px) {
      font-size: 17px;
    }
  }

  &__title-3 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;

    @media (min-width: 576px) {
      font-size: 53px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;

    @media (max-width: 576px) {
      max-height: 50%;
    }
  }

  .badge-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .button-2 {
    @media (max-width: 576px) {
      height: 38px;
      line-height: 38px;
    }
  }
}

.item-count {
  height: 32px;
  line-height: 30px;
  border: 2px solid #e9e9e9;
  font-weight: 500;
  text-align: center;
  color: #8b8b8b;
  font-size: 12px;
  padding: 0 4px;
}

.no-scroll {
  overflow: hidden;
}

.field-foreignersupform-cost {
  width: 20px !important;
  opacity: 0;
}

.bg-text {
  span {
    background: $red;
    color: #fff;
    line-height: 1.8;
  }
}

.js-promo-error {
  color: $red;
}

.textarea-1 {
  border: 2px solid #bebebe;
  padding: 10px 25px;
  width: 100%;
  resize: none;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #757575;
}

.text-roboto {
  font-family: 'Roboto', sans-serif;
  color: #777;
  font-weight: normal;
}

.product-card__img-slider {
  &:not(.slick-initialized) {
    .product-card__img-link {
      &:not(:first-child) {
        display: none;
      }

      &:after {
        content: '';
        @extend .spinner;
      }
    }
  }
}

.product-card__color-slider {
  &:not(.slick-initialized) {
    .product-card__color {
      &:not(:first-child) {
        display: none;
      }
    }
  }
}

.product-card__img-link {
  position: relative;

  img {
    position: relative;
    z-index: 2;
  }
}

.product-slider-images-media {
  position: relative;

  .preview-icon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    font-size: 26px;
    color: #666;

    &:hover {
      color: $red;
    }
  }
}

.price-1 {
  font-weight: 500;
  color: $red;
  font-size: 36px;

  small {
    font-size: 60%;
  }
}

.price-2 {
  color: #959595;
  font-size: 18px;
  font-weight: 500;
}

.col-xl-20 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 1200px) {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.line-through {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    height: 1px;
    position: absolute;
    left: -4px;
    right: -4px;
    top: 50%;
    background: $red;
  }
}

.row-10 {
  margin-left: -10px;
  margin-right: -10px;

  > [class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.slider-2 {
  padding: 35px 0;
  position: relative;

  .button-2 {
    height: 48px;
    line-height: 48px;
    letter-spacing: 0.2em;
    font-weight: 500;
  }

  .slick-arrow {
    background: none;
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 9;
    bottom: 0;

    @media (min-width: 600px) {
      bottom: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 16px;
      height: 16px;
    }
  }

  .slick_prev {
    left: 0;

    @media (min-width: 600px) {
      right: 40px;
      left: auto;
    }

    &:after {
      left: 4px;
      border-bottom: 3px solid #757575;
      border-left: 3px solid #757575;
      transform: rotate(45deg);
    }
  }

  .slick_next {
    right: 0;

    &:after {
      right: 4px;
      border-bottom: 3px solid #757575;
      border-right: 3px solid #757575;
      transform: rotate(-45deg);
    }
  }
}

.slider-2__item {
  &.slick-slide > div {
    width: auto;
  }
}

.product-item-1 {
  background: #fff;
  padding: 25px 15px;

  svg {
    font-size: 30px;
  }

  .badge-1 {

    @media (min-width: 576px) {
      min-width: 100px;
    }
  }

  .price-1 {
    font-size: 26px;
  }

  .price-2 {
    font-size: 12px;
  }
}

.product-item-1__title {
  color: #45484A;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.47;
  margin-bottom: 20px;
  @extend %clamp-3;

  @media (min-width: 576px) {
    font-size: 16px;
  }
}

.product-item-1__image {
  max-width: 80px;

  @media (min-width: 576px) {
    max-width: 200px;
  }
}

.product-item-1__buttons {
  margin-top: 25px;
  margin-bottom: 25px;
  flex-wrap: nowrap;

  @media (min-width: 576px) {
    margin-top: 0;
  }

  button {
    background: none;
  }
}


.bundle-1 {
  @media (min-width: 1200px) {
    margin-right: -20px;
    margin-left: -20px;
  }

  > [class^="col-"] {

    @media (min-width: 1200px) {
      padding-right: 20px;
      padding-left: 20px;
    }

    &:first-child {
      position: relative;

      &:after {
        content: '+';
        font-size: 30px;
        display: block;
        width: 13px;
        height: 20px;
        font-weight: 500;
        margin: auto;

        @media (min-width: 992px) {
          position: absolute;
          right: -5px;
          top: calc(50% - 10px);
        }
      }
    }
  }
}

.bundle-2 {
  @media (min-width: 1200px) {
    margin-right: -20px;
    margin-left: -20px;
  }

  > [class^="col-"] {
    @media (min-width: 1200px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.w-lg-25 {
  @media (min-width: 992px) {
    width: 25% !important;
  }
}

.stock-empty-text {
  position: relative;
  min-height: 300px;
  display: flex;
  text-align: center;

  h1 {
    position: relative;
    margin: auto;
    letter-spacing: 0.1em;

    @media (min-width: 768px) {
      font-size: 34px;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.stock-empty-page {
  text-align: center;
  padding: 100px 0;

  .button-2 {
    padding: 0 40px;
    margin-top: 20px;

    @media (min-width: 768px) {
      padding: 0 80px;
      font-size: 16px;
      height: 60px;
      line-height: 60px;
      letter-spacing: 0.1em;
    }
  }
}

.close-size-table {
  position: relative;
  background: none;
  color: #fff;
  background: $red;
  padding: 10px 10px 10px 34px;
  text-transform: uppercase;
  font-size: 13px;
  width: 220px;
  margin: 0 auto 6px;
  display: block;
  font-weight: bold;

  &:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 10px;
    width: 9px;
    height: 9px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
  }

  &:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 16px;
    width: 15px;
    height: 2px;
    background: #fff;
  }
}

.modal-size-table {
  animation: growIn .3s;
}


.heart-delete {
  fill: $red;

  path {
    stroke: none !important;
  }
}

.background_stock_shares {
  background: transparentize($red, 0.2) !important;
}

.ttu-link {
  text-transform: uppercase;
  color: $red;

  &:hover {
    color: $dark;
  }
}

.cart-m-popup-prod-center {
  .title-h4 {
    font-size: 16px;
  }
}

.form-group {
  //& ~ .field-required {
  //  left: 35px;
  //}
}

.b-new-pass-inner {
  .form-group {
    & ~ .field-required {
      left: 17px;
    }
  }
}

.journal-one-slider-images {
  .journal-card__tags {
    top: 18px;
    left: 18px;
    bottom: auto;
    right: auto;
    z-index: 9;
  }
}

.auth-warning {
  padding: 30px;
  display: none;
}

.product-card-tabs {
  .product-card-wrap.active {
    display: block !important;
    margin: 0;
  }
}

.account-reserve-items {
  &.short {
    .account-reserve-item:nth-child(n+6) {
      display: none;
    }
  }
}

.p-warrantly__desc {
  ul {
    @extend .list-1;
    display: inline-block;
  }

  a {
    color: $red;

    &:hover {
      color: #000000;
    }
  }
}

.modal--watch {
  width: 100%;
  max-width: 428px;

  .input-1 {
    margin-bottom: 32px;
  }

  .modal__title {
    color: #45484A;
    margin-bottom: 25px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 1em;
  }
}

.input-1 {
  border: 2px solid #bebebe;
  height: 48px;
  padding: 0 25px;
  width: 100%;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #757575;
  transition: border-color .2s;

  &.has-error {
    border-color: $red;
  }

  &:hover,
  &:focus {
    border-color: #757575;
  }
}

.button-3 {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding: 16px 26px;
  color: #fff;
  background: #1D2023;
  transition: background .25s;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.2em;

  &:hover,
  &:focus {
    background: transparentize(#1D2023, 0.1);
  }
}

.button-4 {
  display: inline-block;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.1;
  text-transform: uppercase;
  background: #5B5A5A;
  padding: 0 10px;
  height: 33px;
  text-align: center;
  color: #fff;
  transition: background .25s;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.2em;

  &:hover,
  &:focus {
    background: $red;
  }

  i {
    margin-right: 10px;
  }
}

.button-5 {
  display: inline-block;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.1;
  text-transform: uppercase;
  border: 2px solid #5B5A5A;
  background: none;
  padding: 0 10px;
  height: 33px;
  text-align: center;
  color: #5B5A5A;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.2em;
  transition: opacity .25s;

  &:hover,
  &:focus {
    border-color: $red;
    color: $red;

    .grid-icon span {
      border-color: $red;
    }
  }

  i {
    margin-right: 15px;
  }
}

.play-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent #fff;
}

.grid-icon {
  display: inline-flex;
  vertical-align: middle;
  margin-top: -4px;
  width: 14px;
  height: 14px;
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    width: 6px;
    height: 6px;
    margin-bottom: 2px;
    border: 2px solid #5B5A5A;
  }
}

.size-text {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: normal;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $red;

    svg {
      stroke: $red !important;
    }
  }

  svg {
    vertical-align: middle;
    margin-top: -4px;
    font-size: 16px;
  }
}

.reserve-block {
  border: 2px solid #E9E9E9;
  padding: 5px 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #45484A;
  margin-top: 30px;

  .btn {
    height: 48px;

    span {
      font-size: 18px;
      letter-spacing: 0.1em;
      font-weight: 500;
    }
  }
}

.title-line {
  font-weight: bold;
  line-height: 142%;
  position: relative;
  color: #1D2023;
  font-size: 28px;

  @media (min-width: 576px) {
    padding-left: 140px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 2px);
      left: 0;
      width: 97px;
      height: 4px;
      background: $red;
    }
  }

  @media (min-width: 992px) {
    padding-left: 200px;
  }
}

.grid-1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;

  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-1__item {
  img {
    display: block;
    width: 100%;
    max-height: 128px;
    object-fit: cover;
  }
}

.grid-1__big {
  grid-row-end: span 2;

  img {
    display: block;
    width: 100%;
    max-height: 370px;
    object-fit: cover;
  }
}

.product-1 {
}

.product-1__text {
  position: relative;
  background: #fff;
  padding: 24px 70px 24px 20px;
  height: 94px;
  display: flex;

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    right: 20px;
    @extend .cat-prod-card__arrow;
  }
}

.product-1__title {
  font-weight: 500;
  line-height: 147%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: auto 0;
  @extend %clamp-2;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.title-1 {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hero-1 {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
    z-index: 3;
  }
}

.hero-1__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.hero-1__content {
  position: relative;
  z-index: 6;
  padding: 60px;
  text-align: center;
}

.hero-1__title {
  max-width: 760px;
  margin: auto;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  padding: 40px 0;

  @media (min-width: 768px) {
    font-size: 64px;
    padding: 67px 0;
  }
}

.hero-1__trident {
  margin-bottom: -155px;
}

.brand-page-about {
  padding: 140px 0 70px;
  background: #fff;

  @media (min-width: 768px) {
    padding: 150px 0;
  }

  p {
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}

ol {
  list-style-type: none;
  margin: 30px 0 30px 20px;

  li {
    counter-increment: counter;

    &:before {
      content: counter(counter) '.';
      display: inline-block;
      margin-right: 8px;
      color: #EF1B1B;
    }
  }
}

.checkout-payer-data__head,
.abroad-form {
  .field-required {
    left: 35px;
  }
}

.content-extra.content-extra--product {
  margin-top: 0;
}

.row-20 {
  margin-left: -10px;
  margin-right: -10px;

  [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.s_tabs.product-card-tabs {
  .content-nav {
    justify-content: flex-start;

    @media (min-width: 768px) {
      padding-right: 60px;
    }
  }
}

.remind-pass-content-row {
  margin-top: 20px;
}

.slider-3 {

  .slick-arrow {
    background: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    z-index: 9;
    bottom: 0;

    &:after {
      content: '';
      position: absolute;
      bottom: 12px;
      width: 16px;
      height: 16px;
    }

    &:hover {
      background: rgba(0, 0, 0, .3);
    }
  }

  .slick_prev {
    left: 10px;

    &:after {
      left: 15px;
      border-bottom: 3px solid #fff;
      border-left: 3px solid #fff;
      transform: rotate(45deg);
    }
  }

  .slick_next {
    right: 10px;

    &:after {
      right: 15px;
      border-bottom: 3px solid #fff;
      border-right: 3px solid #fff;
      transform: rotate(-45deg);
    }
  }
}

.flag-44 {
  width: 44px;

  @media (max-width: 766px) {
    width: 30px;
  }
}

.login-fields {
  .help-block-error {
    color: $red;
  }
}

.b-field.js-account-city-others {
  display: none;
}

.reserve-empty {
  font-size: 26px;
  padding: 50px 20px 60px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $red;
}

#brand-search {
  padding: 0;
  position: relative;

  .search-pages__field {
    height: 100%;
    width: 100%;
    border: 2px solid #bebebe;
    padding: 0 40px 0 18px;
    transition: border-color .2s;

    &:hover {
      border-color: #757575;
    }
  }

  .search-pages__but {
    position: absolute;
    top: calc(50% - 13px);
    right: 10px;
    z-index: 9;
  }
}

.search-autocomplete {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #fff;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #f1f1f1;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 500;
  max-height: 345px;
  overflow: auto;
  display: none;
  @include scroll-bar-sm();

  @media (max-width: 576px) {
    font-size: 12px;
  }

  @media (min-width: 992px) {
    right: 60px;
  }

  img {
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 20px;
  }

  > .row {
    position: relative;
    align-items: center;
    padding: 10px 15px;
    transition: background .2s;

    &:hover {
      background: #f1f1f1;
    }
  }

  .price-1 {
    font-size: 14px;

    @media (min-width: 576px) {
      font-size: 18px;
    }
  }

  .price-2 {
    font-size: 10px;

    @media (min-width: 576px) {
      font-size: 12px;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

#all-hits-btn {
  @media (min-width: 1200px) {
    width: 334px;
  }
}

.checkout-recipient__data {
  .field-required {
    left: 37px;
  }
}

#product-card-labels {
  margin: 10px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;

  .product-card__label {
    margin: 0 0 10px;
  }
}

.checkbox-1 {

  label {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #757575;
    cursor: pointer;

    &:hover {
      &:before {
        border: 1px solid #45484A;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #BEBEBE;
    }

    &:after {
      content: '';
      left: 5px;
      top: 3px;
      position: absolute;
      width: 5px;
      height: 8px;
      border-right: 2px solid $red;
      border-bottom: 2px solid $red;
      transform: rotate(40deg);
      display: none;
    }
  }

  input[type='checkbox'] {
    display: none;

    &:checked ~ label {
      &:after {
        display: block;
      }
    }
  }
}

#checkout-no-email,
#checkout-email-required {
  display: none;
}

.select2-product {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 500;
  color: $dark;
  font-family: 'Oswald', sans-serif;
  padding: 5px;

  > img {
    margin-right: 15px;
    width: 30px;
    height: 30px;
  }
}

.modal--size {
  .select2-selection__rendered {
    padding-left: 5px !important;
    white-space: normal !important;
    line-height: 1.2 !important;
  }
}

div.chat {
  z-index: 777;
  left: 0;
  bottom: 0;
  right: auto;
  background-color: $red;
  margin: 40px 20px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .3);

  &:before,
  &:after {
    display: none !important;
  }

  @media (max-width: 576px) {
    margin: 10px;
    width: 50px;
    height: 50px;
    padding: 15px;
  }
}

div.chat__messenger {
  left: 0;
  right: auto;
}

.brand-image {
  max-width: 230px;
}

.checkout-payer-data__form {
  .help-block {
    color: $red;
  }
}

#follow-price {
  display: none;
}

.favorites-service {
  button.link,
  .sidebar-link__txt {
    @media (max-width: 576px) {
      letter-spacing: 0.1em;
    }
  }
}

.gift-error {
  margin-bottom: 10px;
  color: $red;
  font-size: 16px;
  animation: text-blink 1s infinite;

  @media (min-width: 768px) {
    font-size: 22px;
  }
}

#choose-gift {
  display: none;
}

.check-color {
  position: relative;
  padding-right: 20px;
  display: inline-block;

  &:hover {
    .check-color__children {
      display: block;
    }
  }
}

.check-color__children {
  position: absolute;
  top: 0;
  left: 100%;
  background: #fff;
  padding: 15px;
  z-index: 9;
  width: 200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  display: none;

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 10px 6.5px 0;
    border-color: transparent #fff transparent transparent;
  }

  @media (max-width: 576px) {
    top: calc(100% + 10px);
    left: 30px;
    width: 190px;

    &:before {
      display: none;
    }
  }
}

#js-confirm-registration {
  display: none;
}

// slick slider flex fix
* {
  min-height: 0;
  min-width: 0;
}

.follow-price-success {
  font-size: 20px;
}

.spinner-overlay {
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  z-index: 88;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .spinner {
    border-top: 4px solid rgba(0, 0, 0, 0.3);
    border-right: 4px solid rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
    border-left: 4px solid $dark;
  }
}

.brands-body {
  .nice-select .option {
    text-transform: capitalize;
  }
}

.account-user-info {
  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 48px;
    z-index: 2;
    cursor: pointer;
  }
}

.nice-select .list {
  z-index: 99;
}

.modal--subscribe {
  max-width: 500px;
  width: 100%;
  padding: 0 10px;
}

.button-mini {
  display: inline-block;
  background: $red;
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 5px;
  transition: background-color .3s ease-in-out;

  &:hover {
    background: #D01818;
  }
}

.button-bell {
  background: none;
  transition: color .2s;

  svg {
    width: 28px;
    height: 28px;
    fill: currentColor;
  }

  &:hover,
  &.active {
    color: $red;
  }

  &:focus {
    &:before,
    &:after {
      display: none;
    }
  }
}

.account-reserve-item {
  td > .c-table-col {
    width: auto;
    padding: 0;

    .c-table-col__txt--price {
      padding: 0;
    }
  }
}

.c-table-col {
  .product-card__price {
    font-size: 80%;
  }
}

.button-7 {
  display: inline-block;
  font-size: 18px;
  color: $red;
  //border: 2px solid $red;
  padding: 0 10px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  transition: all .25s;

  &:hover {
    background: $red;
    color: #fff;
  }
}

.animated-button-1 {
  position: relative;
  overflow: hidden;

  span {
    position: absolute;

    &:nth-child(1) {
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to($red));
      background: linear-gradient(to left, rgba(43, 8, 8, 0), $red);
      animation: 2s animateTop linear infinite;
    }

    &:nth-child(2) {
      top: 0;
      right: 0;
      height: 100%;
      width: 2px;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to($red));
      background: linear-gradient(to top, rgba(43, 8, 8, 0), $red);
      animation: 2s animateRight linear -1s infinite;
    }

    &:nth-child(3) {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to($red));
      background: linear-gradient(to right, rgba(43, 8, 8, 0), $red);
      animation: 2s animateBottom linear infinite;
    }

    &:nth-child(4) {
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to($red));
      background: linear-gradient(to bottom, rgba(43, 8, 8, 0), $red);
      animation: 2s animateLeft linear -1s infinite;
    }
  }
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

.modal--img-size {
  .modal__close--img-size {
    @media (max-width: 992px) {
      top: -30px !important;
      left: calc(50% - 10px);
    }
  }
}

.c-table-col--amount {
  flex-direction: column;

  @media (max-width: 768px) {
    flex-direction: row;

    .download-invoice {
      margin-left: auto;
      margin-top: 0 !important;
    }
    .c-table-col__txt--price {
      width: auto;
    }

    .c-table-col__txt--label {
      width: auto;
      min-width: auto;
    }
  }
}
.product-card__color-img[data-lazy] {
  display: none;
}

.b_arrow {

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
  }
}

.modal--login {
  @media (max-width: 576px) {
    overflow-y: scroll !important;
  }
}

.js-catalog-cards {
  min-height: 40vh;
}

.desc-accord-head {
  .b_arrow:after {
    border-color: #5d5d5d transparent transparent transparent;
  }
}

i[role="tooltip"] {
  font-style: normal;
}