/****** Colors */
$bg: #F6F6F6;
$black-full: #000;
$black: #1D2023;
$black-hover: #3C3F42;
$black2: #45484A;
$white: #fff;
$red: #EF1B1B;
$red-hover: #D01818;
$gray: #E5E5E5;
$gray2: #8C8C8C;
$gray3: #A5A5A5;
$gray4: #8b8b8b;
$gray4-hover: #A0A2A4;
$gray5: #E9E9E9;
$gray6: #BEBEBE;
$gray7: #EEEEEE;
$gray8: #B3B3B3;
$gray9: #6A6D6E;
$gray10: #ABABAB;
$gray11: #777777;
$gray12: #D8D8D8;
$gray13: #E6E6E6;
$gray14: #8E8E8E;
$gray15: #EBEBEB;
$blue: #6AA9CC;
$blue2: #3B5999;
$blue2-hover: #5676bb;
$green: #6EA476;
$green2: #3D5A36;

/*
	Size for media query
*/
// desktop
$desktop-xx-l: 1900px;
$desktop-lg: 1599px;
$desktop-lg-sm: 1439px;
$desktop-md: 1359px;
$desktop-sx: 1280px;
$desktop-sm: 1279px;

// tablet
$tablet-lg-l: 1024px;
$tablet-lg: 1023px;
$tablet-md: 767px;
$tablet-md-sl: 766px;
$tablet-md-s: 600px;
$tablet-sm: 599px;

// mobile
$mobile-lg: 450px;
$mobile-md: 375px;
$mobile-md-s: 374px;
$mobile-sm: 350px;

/*
	Fonts
*/

$font-second: 'Roboto',sans-serif;