.cart-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 2px solid $gray5;
  position: relative;

  @media (max-width: $tablet-md) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-lg) {
    padding-right: 0;
  }

  &:nth-child(1) {
    border-top: 2px solid $gray5;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &-link {
      text-decoration: none;
      min-width: 80px;
      width: 80px;
      height: 55px;
      margin-right: 10px;

      @media (max-width: $tablet-md) {
        width: 80px;
        height: 80px;
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__info {
    margin-right: 20px;
    width: 34%;

    @media (max-width: $tablet-md) {
      flex: auto;
      width: calc(100% - 104px);
      margin-right: 0;
    }
  }

  &__name {
    display: inline-block;
    text-decoration: none;
    transition: color .2s linear;

    &.title-h6 {
      font-size: 12px;
      color: #1D2023;
    }

    &:hover {
      color: $red;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
  }

  &__price {

    &--old {
      color: #BEBEBE;
      position: relative;
      margin-left: 14px;
      font-size: 12px;
      white-space: nowrap;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 130%;
        height: 1px;
        background-color: rgba($red, .5);
        top: 50%;
        left: -15%;
      }
    }
  }

  &__parameters {
    display: flex;
    align-items: center;
    margin-right: 25px;
    flex: 1;
  }

  &__size {
    white-space: nowrap;
    padding: 4px;
    width: auto;
    min-width: 32px;
    height: 32px;
    border: 1px solid $gray4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 147%;
    text-transform: uppercase;
    color: $gray4;
    @include non-select;

    @media (max-width: $mobile-lg) {
      min-width: 28px;
      height: 28px;
    }
  }

  &__color {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-left: 10px;

    @media (max-width: $mobile-lg) {
      width: 28px;
      height: 28px;
    }
  }

  &__delete {
    cursor: pointer;
    margin-left: 25px;

    @media (max-width: $mobile-lg) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      width: 80px;
      margin-right: calc( (100% / 2) - 40px );
      margin-left: calc( (100% / 2) - 40px );
    }

    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.9 0l1.414 1.414-9.9 9.9L0 9.899 9.9 0z' fill='%23C4C4C4'/%3e%3cpath d='M0 1.414L1.414 0l9.9 9.9-1.415 1.414L0 1.414z' fill='%23C4C4C4'/%3e%3c/svg%3e") no-repeat 0 0;
      background-size: contain;
    }

    &:hover {

      &:before {
        color: $red;
      }

      &:after {
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.9 0l1.414 1.414-9.9 9.9L0 9.899 9.9 0z' fill='%23EF1B1B'/%3e%3cpath d='M0 1.414L1.414 0l9.9 9.9-1.415 1.414L0 1.414z' fill='%23EF1B1B'/%3e%3c/svg%3e") no-repeat 0 0;
        background-size: contain;
      }
    }

    &:before {
      content: 'Удалить';
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 132%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $gray6;
      margin-right: 10px;
      display: none;

      @media (max-width: $mobile-lg) {
        display: block;
      }
    }
  }
}


.handle-counter {
  display: flex;
  align-items: center;
  justify-content: center;

  &__minus,
  &__number,
  &__plus {
    width: 32px;
    height: 32px;
    border: 2px solid $gray5;
    background-color: transparent;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 132%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $gray4;

    .cart-card & {
      @media (max-width: $mobile-lg) {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__minus,
  &__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .2s linear, border-color .2s linear;

    &:hover {
      color: $red;
      border: 2px solid $red;
      position: relative;
      z-index: 2;
    }

    & span {
      margin-left: 2px;
    }
  }

  &__number {
    text-align: center;
    margin-left: -2px;
    margin-right: -2px;
    font-size: 12px;
  }

  &__minus {
    & span {
      margin-top: -4px;
      display: block;
    }
  }
}

.cart-card__img-link {
  position: relative;
  display: block;

  .cart-card__label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 9px;
    background: $red;
    color: #fff;
    padding: 2px 5px;
    text-transform: uppercase;
  }
}