body { 
    margin:0; 
    padding:0;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    height:100%; 
    position:relative; 
    font-size:13px;
    line-height: 1;
}
html {
    height:100%;
}
button {
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    border: none;
}
ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}
a {
    color: #000100;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-decoration:none;
    outline:none;
}
p {
    margin: 0;
}
* {
    outline: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
*:before,
*:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.clearfix:after,
.wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
._overflow_hidden {
    overflow: visible!important;
}
/****** wrappers */
.main-wrapper{
    padding: 0;
    position: relative;
    overflow: hidden;
    min-height:100%;
}
.wrapper {
    padding-left: 22px;
    padding-right: 22px;
}
/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}
/**
 * Всякие заготовки
 */
@mixin hvr_trans_2(){
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
    border-bottom: 1px solid transparent;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 1px;
        transition: width 0.15s 0.15s;
    }
    &:hover:after {
        width: 100%;
    }
}
@mixin transition() {
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
}
/******* JS SHOW CONTENT */
.hidden-content {
    &_hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.2s, opacity 0.2s linear;
    }
    &_show {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
    }
}
/****** Colors */
$black-full: #000;
$black: #1D2023;
$black-hover: #3C3F42;
$black2: #45484A;
$white: #fff;
$red: #EF1B1B;
$red-hover: rgba(255, 24, 24, 0.33);
$gray: #E5E5E5;
$gray2: #8C8C8C;
$gray3: #A5A5A5;
$gray4: #757575;
$gray5: #E9E9E9;
$gray6: #BEBEBE;
$gray7: #EEEEEE;
$gray8: #B3B3B3;
$gray9: #6A6D6E;
$gray10: #ABABAB;
$gray11: #777777;
$gray12: #D8D8D8;
$gray13: #E6E6E6;
$gray14: #8E8E8E;
$gray15: #EBEBEB;
$blue: #6AA9CC;
$green: #6EA476;
$green2: #3D5A36;
/*================================================================================
                                    CONTENT                                     
================================================================================*/
.content {
    padding: 90px 20px;
    background-color: $gray; 
}
.content-row {
    margin: 14px 0 30px;
    display: flex;
}
.content-col {
    display: flex;
    justify-content: space-between;
}
.content-col_left {
    width: 60%;
    margin-top: 31px;
}
.content-col_right {
    width: 40%;
    justify-content: flex-end;
}
.content-nav {
    &__item {
        margin-left: 64px;
        display: inline-block;
        color: $gray4;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase; 
        cursor: pointer;
        &:hover {
            color: $red;
        }
        &:first-child {
            margin-left: 0;
        }
        &.active { 
            color: $red;  
        }
    }
}
/*================================================================================
                                    TITLES                                     
================================================================================*/
.title {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $black;
}
/*================================================================================
                                    BUTTONS                                     
================================================================================*/
.but-animation {
    --border-width: 2px;
    --animation-speed: 0.5s;
    --color: #ffffff;
    color: var(--color);
    position: relative;
    display: inline-block;
    border: var(--border-width) solid transparent;
    &__inner {
        font-size: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $white;
        
        position: relative;
        display: inline-block;
        width: 100%;
        height: 50px;
        line-height: 45px;
        cursor: pointer;
        padding: 0.2em;
        background: transparent;
        z-index: 1;
        border-bottom: solid var(--border-width) $white;
        border-left: solid var(--border-width) transparent;
        border-right: solid var(--border-width) transparent;
        border-top: solid var(--border-width) transparent;
        &:hover {
            background: $red;
            border-bottom: solid var(--border-width) transparent;
            &--post {
                color: $white;
            }
        }
        &--post {
            color: $red;
            border-bottom: solid var(--border-width) $red;
            &:hover {
                color: $white;
            }
        }
    }
    &--slider {
        margin-top: 55px;
    }
    &--post {
        --color: #000000;
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        background: var(--color);
    }
    
    &:hover:before {
        animation: afterBorders var(--animation-speed) forwards ease-in-out;
        
    }
    
    &:hover:after {
        animation: beforeBorders var(--animation-speed) forwards ease-in-out;
    }
    
    &:hover {
        animation: borderColors var(--animation-speed) steps(1) forwards;
        outline: none;
        
        .border-animation__inner {
            animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
            animation-delay: calc(var(--animation-speed) / 5 * 2);
        }
    }
}
@keyframes beforeBorders {
    0% {
        bottom: calc(var(--border-width) * -1);
        left: 50%;
        top: auto;
        right: auto;
        width: 0;
        height: var(--border-width);
    }
    33% {
        bottom: calc(var(--border-width) * -1);
        left: calc(var(--border-width) * -1);
        top: auto;
        right: auto;
        width: calc(var(--border-width) + 50%);
        height: var(--border-width);
    }
    66% {
        bottom: calc(var(--border-width) * -1);
        left: calc(var(--border-width) * -1);
        top: auto;
        right: auto;
        width: var(--border-width);
        height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
        bottom: auto;
        left: calc(var(--border-width) * -1);
        top: calc(var(--border-width) * -1);
        right: auto;
        width: calc(var(--border-width) + 50%);
        height: calc((var(--border-width) * 2) + 100%);
    }
}

@keyframes afterBorders {
    0% {
        bottom: calc(var(--border-width) * -1);
        left: auto;
        top: auto;
        right: 50%;
        width: 0;
        height: var(--border-width);
    }
    33% {
        bottom: calc(var(--border-width) * -1);
        left: auto;
        top: auto;
        right: calc(var(--border-width) * -1);
        width: calc(var(--border-width) + 50%);
        height: var(--border-width);
    }
    66% {
        bottom: calc(var(--border-width) * -1);
        left: auto;
        top: auto;
        right: calc(var(--border-width) * -1);
        width: var(--border-width);
        height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
        bottom: auto;
        left: auto;
        top: calc(var(--border-width) * -1);
        right: calc(var(--border-width) * -1);
        width: calc(var(--border-width) + 50%);
        height: calc((var(--border-width) * 2) + 100%);
    }
}

@keyframes borderColors {
    0% {
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        border-left-color: transparent;
    }
    33% {
        border-bottom-color: var(--color);
        border-right-color: transparent;
        border-top-color: transparent;
        border-left-color: transparent;
        
    }
    66% {
        border-bottom-color: var(--color);
        border-right-color: var(--color);
        border-top-color: transparent;
        border-left-color: var(--color);
    }
    100% {
        border-bottom-color: var(--color);
        border-right-color: var(--color);
        border-top-color: var(--color);
        border-left-color: var(--color);
    }
}

@keyframes background {
    to {
        background: #555;
        text-shadow: 0 0.1em 0.1em #111;
    }
}

@media (min-width: 850px) {
    body {
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .border-animation {
        font-size: 6em;
        line-height: 1em;
    }
}
.but {
    display: block;
    width: 100%;
    max-width: 334px;
    height: 64px;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    background-color: $black;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    
    font-family: Oswald,sans-serif;
    color: $white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 62px;
    text-transform: uppercase;

    span {
        position: relative;
        z-index: 2;
        display: block;
        text-align: center;
    }
    &:hover {
        background-color: $black-hover;
    }
}//btn-red
.but-center {
    margin: 0 auto;
}
.but-red {
    background-color: $red;
    &:hover {
        background-color: $red-hover;
    }
}
/*================================================================================
                                    LINKS                                     
================================================================================*/
.link-def {
    line-height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    height: 38px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $white;
    position: relative;
    display: inline-block;
    @include transition();
    &:before {
        content: '';
        width: 82%;
        height: 2px;
        background-color: $white;
        position: absolute;
        left: 15px;
        bottom: -1px;
        opacity: 1;
    }
    &:hover {
        &:after,
        &:before {
            opacity: 0;
        }
        &:after {
            display: none;
        }
        background: $red;
        color: $white;
    }
    &_slider {
        margin-top: 55px;
    }
}
.link-call {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    color: $red;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.6px;
    &:before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $red;
        position: absolute;
        bottom: -8px;
        left: 0;
        -webkit-transition: all 0.25s linear 0s;
        -moz-transition: all 0.25s linear 0s;
        -o-transition: all 0.25s linear 0s;
        transition: all 0.25s linear 0s;
    }
    &:hover {
        color: $black;
        &:before {
            background-color: $black;
        }
    }
}
/*================================================================================
                                    ARROWS                                     
================================================================================*/
.b_arrow {
    color: $white;
    position: absolute;
    right: 3px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 24px;
    height: 5px;
    font-size: 15px;
    line-height: 5px;
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    &_dark {
        color: $gray3;
    }
}
.b_arrow_up {
    .b_arrow {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
/*================================================================================
                                    AUTONOM BLOCKS                                     
================================================================================*/
.search-form {
    display: none;
    z-index: 1;
    width: 0;
    height: 63px;
}
.search-form-inner {
    position: relative;
    background-color: $white;
    border-bottom: 1px solid $gray3;
    width: 100%;
    height: 100%;
}
.search-form__field {
    padding: 0 150px 0 30px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $black;
    width: 100%;
    height: 100%;
    border: none;
}
.search-form__close {
    position: absolute;
    right: 110px;
    top: 23px;
    @include transition();
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.75 0L18 2.25 2.25 18 0 15.75 15.75 0z' fill='%2345484A'/%3e%3cpath d='M0 2.25L2.25 0 18 15.75 15.75 18 0 2.25z' fill='%2345484A'/%3e%3c/svg%3e") no-repeat 0 0;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
    &:hover {
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.75 0L18 2.25 2.25 18 0 15.75 15.75 0z' fill='%23EF1B1B'/%3e%3cpath d='M0 2.25L2.25 0 18 15.75 15.75 18 0 2.25z' fill='%23EF1B1B'/%3e%3c/svg%3e") no-repeat 0 0;
    }
}
.search-form__but {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $red;
    width: 71px;
    height: 63px;
    &:before {
        content: '';
        width: 33px;
        height: 37px;
        display: block;
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='15.839' cy='15.839' r='10.2' transform='rotate(-45 15.84 15.84)' stroke='%23fff' stroke-width='2'/%3e%3cpath d='M27.719 27.719l-4.95-4.95' stroke='%23fff' stroke-width='2'/%3e%3c/svg%3e") no-repeat 0 0;
        background-size: contain;
        background-position: 0 1px;
        margin: 0 auto;
    }
}
/******* SWITCH */
.switch {
    display: inline-block;
    cursor: pointer;
    &._show {
        .switch-content {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
            li {
                color: $black;
            }
            &_big {
                li {
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}
.switch-content {
    border-bottom: 1px solid $gray7;
    border-left: 1px solid $gray7;
    border-right: 1px solid $gray7;
    position: absolute;
    top: 46px;
    left: -1px;
    width: 103%;
    background-color: $white;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
    li {
        color: $white;
        display: block;
        padding: 5px 0;
        font-size: 12px;
        letter-spacing: 0.05em;
        &:hover {
            color: $red;
        }
    }
    &_big {
        padding: 15px 30px;
        width: 177%;
        li {
            font-family: 'Roboto',sans-serif;
            font-weight: normal;
            font-size: 16px;
            color: $gray4;
            &:hover {
                color: $red;
            }
        }
    }
    &_select {
        li {
            padding: 10px 10px;
            font-family: 'Roboto',sans-serif;
            font-weight: normal;
            font-size: 14px;
            &:hover {
                background-color: $gray7;
                color: $gray4;
            }
            &.selected {
                color: $red;
            }
        }
    }
    &__title {
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: $gray4;
        margin-bottom: 10px;
    }
}
.switch__title {
    position: relative;
    width: 100%;
    span,a {
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: $red;
    }
    &._cur,
    &._lang {
        span {
            color: $gray3;
            font-family: 'Roboto',sans-serif;
        }
        .b_arrow {
            right: -19px;
        }
    }
    &._prof {
        a {
            color: $gray2;
            text-transform: uppercase;
        }
        .b_arrow {
            right: 30px;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }
}
/*================================================================================
                                    MENU CATALOG                                     
================================================================================*/
.menu-cat {
    li {
        display: inline-block;
        margin-left: 57px;
        &:first-child {
            margin-left: 0;
        }
        &._active {
            a {
                color: $red;
            }
        }
        a {
            color: $black;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            display: block;
            padding: 27px 0 24px;
            &:hover {
                color: $red;
            }
        }
    }
}
/*================================================================================
                                    OTHER                                     
================================================================================*/
.s_tabs {
    &._flex {
        .s_tabs_content {
            &.active {
                visibility: visible;
                opacity: 1;
                transition-delay: 0s;
                height: 100%;
            } 
        }
    }
}
.s_tabs_content {
    display: flex;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}
/******* EFFECT FIELDS */
.field_effect {
    &::-webkit-input-placeholder       {text-indent: 0;   transition: text-indent 0.3s ease;}
    &::-moz-placeholder                {text-indent: 0;   transition: text-indent 0.3s ease;}
    &:-moz-placeholder                 {text-indent: 0;   transition: text-indent 0.3s ease;}
    &:-ms-input-placeholder            {text-indent: 0;   transition: text-indent 0.3s ease;}
    &:focus::-webkit-input-placeholder {text-indent: 80px; transition: text-indent 0.3s ease;opacity: 0.3;}
    &:focus::-moz-placeholder          {text-indent: 80px; transition: text-indent 0.3s ease;opacity: 0.3;}
    &:focus:-moz-placeholder           {text-indent: 80px; transition: text-indent 0.3s ease;opacity: 0.3;}
    &:focus:-ms-input-placeholder      {text-indent: 80px; transition: text-indent 0.3s ease;opacity: 0.3;}
}
/******* SUBSCRIBE FORM */
.subscribe-form {
    width: 100%;
    display: flex;
}
.subscribe-form-field {
    width: 72%;
}
.subscribe-form-input {
    background-color: transparent; 
    height: 49px;
    border: 2px solid $gray9;
    padding-left: 20px;

    color: $gray10;
    font-weight: normal;
    font-size: 14px;
    text-transform: lowercase;
    width: 100%;
    &:focus {
        border: 2px solid $gray8;
    }
}
.subscribe-form-but {
    width: 33%;
    .but {
        height: 49px;
        line-height: 49px;
        font-size: 16px;
    }
}
